---
import type { Article } from "@lib/global.d";
import { getDataFromApi } from "@lib/utils";
import Layout from "@layouts/BaseLayout.astro";

const { slug } = Astro.params;

const search = await getDataFromApi<Article[]>(
  `${import.meta.env.PUBLIC_CMS_URL}/articles?slug=${slug}`
);

const { title } = search[0];

export async function getStaticPaths() {
  const articles = await getDataFromApi<Article[]>(
    `${import.meta.env.PUBLIC_CMS_URL}/articles`
  );

  const paths = articles.map((article) => ({
    params: { slug: article.slug },
  }));

  return paths;
}
---

<Layout content={{ title: title }}>
  <section class="content">
    <h1>{title}</h1>
  </section>
</Layout>
