#siteHeader {
  background-color: #3c659c;
  color: #e1ecfa;
  padding-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
  padding-bottom: 6.5em;
  background-color: white;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar {
  margin-bottom: 0em;
}

@media screen and (max-width: 768px) {
  .owner-bio .col-xs-12 {
    padding-bottom: 5px;
  }
}

h4 {
  margin: 1.5em 0em 0.25em;
}

.generatedContainer {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.generatedContainer iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
