@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@700&family=Montserrat:wght@400;500;600;700;800;900&display=swap");

$primary: #3260a4;
$family-sans-serif: "Montserrat", sans-serif;
$family-secondary: "Hepta Slab", serif;
$navbar-item-img-max-height: none;

.content {
  h1,
  h2 {
    font-family: $family-secondary;
  }
}

.owners-grid {
  display: block;
  text-align: center;
  word-wrap: break-word;

  img {
    display: block;
    width: 150px;
    margin: auto;
    max-width: 100%;
    height: auto;
  }
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/content";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
