---
import Layout from "@layouts/BaseLayout.astro";
import { Content as Intro } from "@data/indexIntro.md";
import Updates from "@components/Updates";
---

<Layout>
  <title slot="head">Welcome | SIBA</title>
  <section class="content">
    <h1>Welcome</h1>
    <Intro />
  </section>
  <div class="columns content">
    <div class="column is-two-thirds">
      <h2>Updates</h2>
      <Updates client:load />
    </div>
    <div class="column">
      <h2>Latest Articles</h2>
    </div>
  </div>
</Layout>
