//Bootstrap overrides
$primary: #3260a4;
$secondary: #7eb7e5;
$link-decoration: underline;
$mark-bg: #e8f5ff;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

#content {
  padding-top: 7rem;
  padding-bottom: 5rem;
  min-height: 94vh;
  background-color: white;
  min-height: 95vh;

  h1 {
    text-transform: capitalize;
  }
}

#download {
  &-pro h1::after {
    content: "";
    display: inline-flex;
    position: relative;
    top: 1.75rem;
    margin: 0 0.5rem;
    background-image: url("images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 4rem;
  }

  &-college h1::after {
    content: "";
    display: inline-flex;
    position: relative;
    top: 0.75rem;
    margin: 0 0.5rem;
    background-image: url("images/sicba-logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.nav-img {
  width: 5vh;
}

iframe {
  border: 0;
  width: 100%;
}

.conference-card {
  min-height: 200px;
  width: 175px;
  text-align: center;
  word-wrap: break-word;

  h2 {
    font-weight: 600;
    font-size: 1.25em;
    margin: 0em;
    margin-top: 0.25em;
  }
}

.owners-grid {
  display: block;
  text-align: center;
  word-wrap: break-word;

  img {
    display: block;
    width: 150px;
    margin: auto;
    max-width: 100%;
    height: auto;
  }

  h2 {
    font-weight: 600;
    font-size: 1.25em;
    margin: 0em;
  }
}

//shortening the width of input
.form-control.is-short-width {
  width: 6em;
}

.coach-pic {
  &-face {
    position: relative;
    z-index: 0;
  }
  &-outfit {
    position: relative;
    right: 98px;
    z-index: 1;
  }
}

.author-pic {
  height: 2rem;
  margin-right: 0.25rem;
}
