#content {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: white;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.nav-img {
  width: 5vh;
}

.generatedContainer {
  overflow: hidden;
  padding-top: 150%;
  position: relative;
}

.generatedContainer iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.conference-card {
  min-height: 200px;
  width: 175px;
  text-align: center;
  word-wrap: break-word;
}

.conference-card h2 {
  font-weight: 600;
  font-size: 1.25em;
  margin: 0em;
  margin-top: 0.25em;
}

.owners-grid {
  display: block;
  text-align: center;
  word-wrap: break-word;
}

.owners-grid img {
  display: block;
  width: 150px;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.owners-grid h2 {
  font-weight: 600;
  font-size: 1.25em;
  margin: 0em;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
