---
import { Content as Intro } from "@content/rewards/intro.md";
import { Content as AllStar } from "@content/rewards/allstar.md";
import { Content as SeasonEnd } from "@content/rewards/seasonEnd.md";
import Layout from "@layouts/BaseLayout.astro";
---

<Layout content={{ title: "SIBA Rewards" }}>
  <section class="content">
    <h1>SIBA Rewards</h1>
    <Intro />
    <div class="columns">
      <div class="column is-half">
        <AllStar />
      </div>
    </div>
    <div class="columns">
      <div class="column is-half">
        <SeasonEnd />
      </div>
    </div>
  </section>
</Layout>
